.DS_Store
/.idea
error_log
/cache/*
/configuration.php
/logs/*
/tmp/*
/htaccess.txt
/README.txt
/LICENSE.txt
/support
/media/video/*
/media/com_careers/pdf/*
/administrator/.htaccess
/marketing
/leads/WebsiteLeadsCombined.csv
/feed
/hooks
/components/com_wordpress/wp/wp-content/uploads